@font-face {
    font-family: 'vanilla';
    src: url('./media/Vanilla-webfont.ttf');
}

@font-face {
    font-family: 'whitehall';
    src: url('./media/whitehall.otf');
}

body {
    background-color: #9ED54C;
}

#wrap {
    width: 700px;
    margin-left: auto; margin-right: auto;
}

/* Header */
h1 {
    font-family: vanilla;
    margin-top: 30px;
}

h2 {
    font-family: vanilla;
}

#header {
    
}

/* Navigation */
#navigation {
    position: relative;
    left: 51px;
    bottom: 38px;
    float: right;
}

.nav-title div {
    position: relative;
    float: left;

}

.nav-list a {
    text-decoration: none;
    color: #515151;
    font-size: 14pt;
    font-family: whitehall;
    position: relative;
    bottom: 3px;
    right: 21px;
}

.nav-list-footer a {
    text-decoration: none;
    color: #515151;
    font-size: 10pt;
    font-family: sans-serif;

}

.nav-list a:hover {
    color: #05A9A5;
}

.nav-list-footer a:hover {
    color: #05A9A5;
}

.nav-list li {
    display: inline;
    margin-right: 40px;
    border-right: 1px dashed #000000;
}

.nav-list li:last-child {
    border: none;

}

.nav-list-footer li {
    display: inline;
    
}
    
#navigation-footer {
    position: relative;
    float: right;
    margin-right: 10px;
}

#content div {
    border-radius: 15px;
    border: 2px solid #C4ED68;
    padding: 25px;
    margin-top: 40px;
    background-color: #E2FF9E;
    box-shadow: 5px 5px 2px #444;
}


